<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Compañías
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <!--<<div class='row'>
    <div class="col">

      <input #termino type="text" (keyup)='buscar(termino.value)' class="form-control">

    </div>
  </div> -->
  <ion-list>
    <!--<ion-item-sliding padding *ngFor="let company of companies" > --> 
    
        <ion-item  class="text" *ngFor="let _companie of _companies | async" (click)='companyDesc(_companie.key)'>
          {{_companie.name}}
          
        </ion-item>
     
      
   
    <!--</ion-item-sliding>-->
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>

