<ion-header>
  <ion-toolbar>
    <ion-title>companyDesc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    {{info.name}}
    
  </ion-card>
  <ion-card>
    <p>{{info.information}}</p>
    <p>{{info.email}}</p>
    <p>+506</p>
  </ion-card>
</ion-content>
