<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)='webGoogleLogin()'>
    Company Google Login
  </ion-button>
  <ion-button (click)='webFbLogin()'>
    Company Facebook Login
  </ion-button>
  
</ion-content>
